:8019 {
    basicauth * {
    prometheus JDJhJDE0JHR5RnlsVGRHRE8yZWlsNmpNQnZqZU9FekxubHJMUWlFR0hUMjhQZ2JyVXhmMi9IWks2NXpX
    }
        reverse_proxy 10.227.86.2:8080 {
        }

}

:9100 {
    basicauth * {
    prometheus JDJhJDE0JHR5RnlsVGRHRE8yZWlsNmpNQnZqZU9FekxubHJMUWlFR0hUMjhQZ2JyVXhmMi9IWks2NXpX
    }
        reverse_proxy 10.227.86.4:9100 {
        }

}

:9104 {
    basicauth * {
    prometheus JDJhJDE0JHR5RnlsVGRHRE8yZWlsNmpNQnZqZU9FekxubHJMUWlFR0hUMjhQZ2JyVXhmMi9IWks2NXpX
    }
        reverse_proxy 185.147.39.188:9104 {
        }

}

